header#header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  gap: 32px;
  padding: 40px;
  background-color: color-mix(in srgb, var(--background) 50%, transparent);
  background-image:
    repeating-linear-gradient(
      0deg,
      var(--foreground-10) 0px,
      var(--foreground-10) 1px,
      transparent 1px,
      transparent 24px
    ),
    repeating-linear-gradient(
      90deg,
      var(--foreground-10) 0px,
      var(--foreground-10) 1px,
      transparent 1px,
      transparent 24px
    );
  border: 2px dashed var(--foreground);
  box-shadow: 2px 2px 0px var(--foreground);
}

div#wordmark {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 16px;
}

div#logo {
  position: relative;
  width: 90px;
  height: 90px;
}

h1#title {
  font-size: 8rem;
  margin-bottom: -16px;
}

p.subtitle {
  font-size: 1.5rem;
  max-width: 700px;
  margin: 0;
}

@media (max-width: 1000px) {
  header#header {
    align-items: center;
    text-align: center;
  }

  h1#title {
    font-size: 6rem;
  }

  p.subtitle {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  div#wordmark {
    flex-direction: column;
    align-items: center;
  }

  h1#title {
    font-size: 4rem;
  }

  p.subtitle {
    font-size: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  div#logo {
    filter: invert();
  }
}
