div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 0 40px;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
}

div.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h1#title {
  font-size: 8rem;
  margin-bottom: -16px;
}

p.subtitle {
  font-size: 2rem;
  font-family: var(--font-mono);
  text-transform: uppercase;
  text-align: center;
}

div.socials {
  display: flex;
  gap: 50px;
}

a.social {
  padding: 8px 16px;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: var(--background);
    color: var(--foreground);
  }
}

@media (max-width: 500px) {
  h1#title {
    font-size: 6rem;
  }

  p.subtitle {
    font-size: 1.5rem;
  }

  div.socials {
    gap: 20px;
  }
}
