div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 40px;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
}

header#header {
  display: flex;
  flex-direction: row;
  align-items: last baseline;
  gap: 70px;
}

div.wordmark {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 16px;
}

div.logo {
  position: relative;
  width: 90px;
  height: 90px;
}

h1#title {
  font-size: 8rem;
  margin-bottom: -16px;
}

p.subtitle {
  font-size: 1.5rem;
  max-width: 300px;
}

div.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

div.content {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}

div.icon {
  border: 1px solid red;
  position: relative;
  width: 500px;
  height: 500px;
}

div.game {
  width: 700px;
}

div.socials {
  display: flex;
  gap: 50px;
}

a.social {
  padding: 8px 16px;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: var(--background);
    color: var(--foreground);
  }

  div.logo,
  div.icon {
    filter: invert();
  }
}

@media (max-width: 1320px) {
  header#header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
  }

  div.icon {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 1000px) {
  div.icon {
    width: 200px;
    height: 200px;
  }

  div.content {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  div.wordmark {
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }

  h1#title {
    font-size: 6rem;
  }

  p.subtitle {
    font-size: 1.5rem;
  }

  div.socials {
    gap: 20px;
  }
}
