div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 40px 40px 0 40px;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
}

div.socials {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

div.faq {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-top: 80px;

  details.faq > summary {
    cursor: pointer;
    list-style: none;
    appearance: none;

    position: relative;
    padding: 32px 16px;
    border-top: 2px solid var(--foreground);

    font-size: 2rem;
    line-height: 1.2em;
  }

  details.faq > summary::before {
    position: absolute;
    right: 16px;
    content: ">";
    font-family: var(--font-departure-mono);
    color: var(--foreground);
  }

  details.faq[open] > summary::before {
    transform: rotate(90deg);
  }

  details.faq > summary::-webkit-details-marker {
    display: none;
  }

  details.faq:last-child > summary {
    border-bottom: 2px solid var(--foreground);
  }

  details.faq > summary:hover,
  details.faq > summary:hover::before {
    background-color: var(--foreground);
    color: var(--background);
  }

  details.faq > p,
  details.faq > table {
    padding: 0 16px;
  }

  display: none;
}

div#game-container {
  width: fit-content;
}

div.three-col {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "left middle right";
  gap: 40px;
  align-items: start;
  justify-items: center;
  width: 100%;
  padding: 0 80px;
}

div.left {
  grid-area: left;
}

div.right {
  grid-area: right;
}

div.middle-col {
  grid-area: middle;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

div.attributions td {
  padding: 8px 32px;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: var(--background);
    color: var(--foreground);
  }
}

@media (max-width: 1400px) {
  div.three-col {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "middle middle"
      "left right";
    column-gap: 64px;
    padding: 0 40px;
  }
}

@media (max-width: 1000px) {
  div#game-container {
    display: none;
  }

  div.three-col {
    grid-template-columns: 1fr;
    grid-template-areas:
      "socials"
      "faq"
      "attributions";
    padding: 0;
    justify-items: stretch;
  }

  div.middle-col {
    display: contents;
  }

  div.socials {
    grid-area: socials;
  }

  div.attributions {
    grid-area: attributions;
  }

  div.faq {
    display: block;
    width: fit-content;
    margin-top: 0;
    justify-self: center;
    grid-area: faq;
  }

  div.socials {
    flex-direction: column;
    width: 100%;
  }

  div.socials > a {
    width: 100%;
  }

  div.left,
  div.right {
    display: none;
  }
}

@media (max-width: 745px) {
  div.attributions {
    margin-bottom: 40px;
  }

  div.attributions table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  div.attributions tr {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 8px 0;
  }

  div.attributions td {
    padding: 4px 0;
  }

  div.attributions span:first-child {
    padding-left: 0;
  }

  div.attributions img {
    position: absolute;
    margin: -32px;
  }
}
