div.board {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
}

div#game-container {
  width: fit-content;
  margin: 0 auto;
  padding: 40px;
}

@media (max-width: 1000px) {
  div#game-container {
    display: none;
  }
}
