div.container {
  display: flex;
  flex-direction: row;
}

div.icon {
  position: relative;
  width: 500px;
  height: 500px;
}

div.feed {
  display: flex;
  flex-direction: column-reverse;
}

div.player {
  border: 1px solid red;
  min-width: fit-content;
}

div.responses {
  border: 1px solid red;
  align-items: center;
  flex: 1;
}
