div.container {
  display: flex;
  flex-direction: row;
}

div.feed {
  display: flex;
  flex-direction: column-reverse;
}

div.available-questions {
  display: flex;
  flex-direction: row-reverse;
  gap: 32px;
  width: 700px;
  flex-wrap: wrap;
}

div.message {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
}

div.message.question {
  color: var(--foreground-50);
  text-align: right;
}

div.message.response {
  max-width: 700px;
}
